{:main cljs-webpack-demo.client
 :output-to "docs/index.js"
 :output-dir "docs"
 :target :bundle
 ;; :pseudo-names true
 ;; :pretty-print true
 :bundle-cmd
 {:none ["yarn" "webpack" "./docs/index.js" "-o" "./docs" "--mode=development"]
  :default ["yarn" "webpack" "./docs/index.js" "-o" "./docs"]}
 :closure-defines {cljs.core/*global* "window"}}
